@tailwind base;
@tailwind components;
@tailwind utilities;

.feed-y-scroll {
  /* Set a fixed width for the scrollbar (optional) */
  scrollbar-width: thin;
  scrollbar-color: #555 #fff; /* Change colors as needed */
  /* For Webkit-based browsers (e.g., Chrome, Safari) */
  &::-webkit-scrollbar {
    border-radius: 8px;
    background-color: transparent; /* Thumb color */
    width: 8px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-track {
    border-radius: 15px;
    background: transparent; /* Track color */
    border: solid 3px transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(15 23 42); /* Thumb color */
    border-radius: 5px; /* Rounded corners for the thumb */
    border: solid 3px transparent;
    background-clip: content-box;
  }
}

.other-feed-y-scroll {
  /* Set a fixed width for the scrollbar (optional) */
  scrollbar-width: thin;
  scrollbar-color: #555 #fff; /* Change colors as needed */
  /* For Webkit-based browsers (e.g., Chrome, Safari) */
  &::-webkit-scrollbar {
    border-radius: 8px;
    background-color: transparent; /* Thumb color */
    width: 8px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-track {
    border-radius: 15px;
    background: transparent; /* Track color */
    border: solid 3px transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(148 163 184); /* Thumb color */
    border-radius: 5px; /* Rounded corners for the thumb */
    border: solid 3px transparent;
    background-clip: content-box;
  }
}
